<h1>About</h1>
<p>This is a Node/Express app for noting down ideas for future Machine learning apps</p>

<video width="600" controls>
  <source src="Road_lane_detection.mp4" type="video/mp4">
  <source src="Road_lane_detection.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>

<p>Version: 1.0.0</p>

<h1>About</h1>
<p>This is a Node/Express app for noting down ideas for future Machine learning apps</p>

<video width="600" controls>
  <source src="Advanced_Road_Lane_detection.mp4" type="video/mp4">
  <source src="Advanced_Road_Lane_detection.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>

<p>Version: 1.0.0</p>
