<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Note down your Machine Learning ideas~</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Machine Learning Idea</a>
</div>